<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Hello World !</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{#if ok}}
            <p>I have been seen {{count}} time(s).</p>
            {{else}}
            <p>Failed to read from redis, please check logs...</p>
            {{/if}}
        </div>
        <div class="col-xs-12 col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>View Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Logs</th>
                        <td>{{#each logs}}<span>{{this}}</span><br/>{{/each}}</td>
                    </tr>
                    <tr>
                        <th>Count</th>
                        <td>{{count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>